@font-face {
    font-family: 'Alegreya-Black';
    src: url('../../fonts/AlegreyaSc-Black.woff2') format('woff2'),
         url('../../fonts/AlegreyaSc-Black.woff') format('woff');
    font-weight: 900;
}

@font-face {
    font-family: 'Alegreya-BlackItalic';
    src: url('../../fonts/AlegreyaSc-BlackItalic.woff2') format('woff2'),
         url('../../fonts/AlegreyaSc-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya-Bold';
    src: url('../../fonts/AlegreyaSc-Bold.woff2') format('woff2'),
         url('../../fonts/AlegreyaSc-Bold.woff') format('woff');
    font-weight: 700;
}

@font-face {
    font-family: 'Alegreya-BoldItalic';
    src: url('../../fonts/AlegreyaSc-BoldItalic.woff2') format('woff2'),
         url('../../fonts/AlegreyaSc-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya-ExtraBold';
    src: url('../../fonts/AlegreyaSc-ExtraBold.woff2') format('woff2'),
         url('../../fonts/AlegreyaSc-ExtraBold.woff') format('woff');
    font-weight: 800;
}

@font-face {
    font-family: 'Alegreya-ExtraBoldItalic';
    src: url('../../fonts/AlegreyaSc-ExtraBoldItalic.woff2') format('woff2'),
         url('../../fonts/AlegreyaSc-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya-Italic';
    src: url('../../fonts/AlegreyaSc-Italic.woff2') format('woff2'),
         url('../../fonts/AlegreyaSc-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya-Medium';
    src: url('../../fonts/AlegreyaSc-Medium.woff2') format('woff2'),
         url('../../fonts/AlegreyaSc-Medium.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'Alegreya-MediumItalic';
    src: url('../../fonts/AlegreyaSc-MediumItalic.woff2') format('woff2'),
         url('../../fonts/AlegreyaSc-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya-Regular';
    src: url('../../fonts/AlegreyaSc-Regular.woff2') format('woff2'),
         url('../../fonts/AlegreyaSc-Regular.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Alegreya-SemiBold';
    src: url('../../fonts/AlegreyaSc-SemiBold.woff2') format('woff2'),
         url('../../fonts/AlegreyaSc-SemiBold.woff') format('woff');
    font-weight: 600;
}

@font-face {
    font-family: 'Alegreya-SemiBoldItalic';
    src: url('../../fonts/AlegreyaSc-SemiBoldItalic.woff2') format('woff2'),
         url('../../fonts/AlegreyaSc-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}
